certs/
deps/
www/
.*
*.log
*.pid
*.conf
*.sqlite
home-assistant*.db*
envisalink.yaml
ip_bans.yaml
known_devices.yaml
secrets.yaml
stuff.yaml
zone.yaml
# Z-Wave
ozw_config
zwcfg_*.xml
zwscene.xml
zwave_device_config.yaml
options.xml
OZW_Log.txt
